## Restructure label column

In [4]:
import pandas as pd 
boxes = pd.read_csv("boxes.csv")
boxes.sample(3)

    Unnamed: 0  xmin  ymin  xmax  ymax label     score
48          48   200  1534   485  1826  Tree  0.277555
11          11   491  3265   748  3532  Tree  0.392795
0            0   857  2560  1200  2918  Tree  0.562073

In [5]:
from sklearn.compose import make_column_selector as selector 

categorical_columns_selector = selector(dtype_include = object)
categorical_columns = categorical_columns_selector(boxes)
categorical_columns

['label']

In [7]:
label_column = boxes[categorical_columns]
label_column.head()

  label
0  Tree
1  Tree
2  Tree
3  Tree
4  Tree

In [8]:
from sklearn.preprocessing import OrdinalEncoder

encoder = OrdinalEncoder()
label_encoded = encoder.fit_transform(label_column)
label_encoded

array([[0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.]])

In [10]:
encoder.categories_

[array(['Tree'], dtype=object)]

In [14]:
boxes = boxes.drop(columns='label')

In [16]:
boxes.head()

   Unnamed: 0  xmin  ymin  xmax  ymax     score
0           0   857  2560  1200  2918  0.562073
1           1   584  2829   876  3116  0.507694
2           2  1599  4142  2010  4541  0.503475
3           3  4138  4183  4406  4445  0.467623
4           4  3089  3779  3396  4093  0.446589

In [20]:
boxes['label'] = label_encoded

In [21]:
boxes.head()

   Unnamed: 0  xmin  ymin  xmax  ymax     score  label
0           0   857  2560  1200  2918  0.562073    0.0
1           1   584  2829   876  3116  0.507694    0.0
2           2  1599  4142  2010  4541  0.503475    0.0
3           3  4138  4183  4406  4445  0.467623    0.0
4           4  3089  3779  3396  4093  0.446589    0.0

In [22]:
boxes.to_csv('boxes_.csv')